<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-heading" jhiTranslate="day4MukeApp.course.home.createOrEditLabel">Create or edit a Course</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="day4MukeApp.course.courseInfo" for="field_courseInfo">Course Info</label>
                    <input type="text" class="form-control" name="courseInfo" id="field_courseInfo"
                           formControlName="courseInfo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="day4MukeApp.course.courseStartTime" for="field_courseStartTime">Course Start Time</label>
                    <div class="d-flex">
                        <input id="field_courseStartTime" type="datetime-local" class="form-control" name="courseStartTime" formControlName="courseStartTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="day4MukeApp.course.teacherCode" for="field_teacherCode">Teacher Code</label>
                    <select class="form-control" id="field_teacherCode" name="teacherCode" formControlName="teacherCode">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teacherOption.id === editForm.get('teacherCode').value?.id ? editForm.get('teacherCode').value : teacherOption" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="day4MukeApp.course.typeCode" for="field_typeCode">Type Code</label>
                    <select class="form-control" id="field_typeCode" name="typeCode" formControlName="typeCode">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseTypeOption.id === editForm.get('typeCode').value?.id ? editForm.get('typeCode').value : courseTypeOption" *ngFor="let courseTypeOption of coursetypes; trackBy: trackCourseTypeById">{{courseTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
