<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teachInfo">
            <h2><span jhiTranslate="day4MukeApp.teachInfo.detail.title">Teach Info</span> {{teachInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="day4MukeApp.teachInfo.teacherCode">Teacher Code</span></dt>
                <dd>
                    <div *ngIf="teachInfo.teacherCode">
                        <a [routerLink]="['/teacher', teachInfo.teacherCode?.id, 'view']">{{teachInfo.teacherCode?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="day4MukeApp.teachInfo.courseCode">Course Code</span></dt>
                <dd>
                    <div *ngIf="teachInfo.courseCode">
                        <a [routerLink]="['/course', teachInfo.courseCode?.id, 'view']">{{teachInfo.courseCode?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teach-info', teachInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
